<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia error deleniti ipsam temporibus aspernatur maxime laboriosam sequi. Eveniet consectetur, veritatis, tempore mollitia ipsum dolorum doloribus minima officia est qui ea!Lorem</p>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, cupiditate quibusdam voluptatum pariatur culpa quasi illo vitae distinctio, ut nostrum reprehenderit consequuntur perferendis esse officiis aperiam non sit unde dicta!</p>
</body>
</html>